<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Dashboard</title>
        <link rel="stylesheet" href="/styles/users.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../scripts/users.js"></script>

    </head>

    <body>
        <div class="main">
            {{>navbar}}
            <div class="container">
                <div class="admin-panel panel">
                    <div class="label">
                        <b><h1>Admins <i>({{adminCount}})</i></h1></b>

                        {{#if checkAdmin}}
                            <button class="add-button" id="add-admin-button">
                                
                                Add Admin
                            </button>
                        {{/if}}
                    </div>

                    <div class="users">
                        {{#each admins}}
                            {{>usercard}}
                        {{/each}}
                    </div>
                </div>

                <div class="non-admin-panel panel">
                    <div class="label">
                        <b><h1>Non-admins <i>({{nonAdminCount}})</i></h1></b>
                        
                        {{#if checkAdmin}}
                            <button class="add-button" id="add-non-admin-button">
                                
                                Add Non-Admin
                            </button>
                        {{/if}}
                    </div>

                    <div class="users">
                        {{#each nonAdmins}}
                            {{>usercard}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div class="add-user-modal">
            <div class="user-form">
                <div class="exit-button">
                    <img src="assets/back.png" alt="" class="exit">
                </div>
                
                <div class="form-title">
                    <h1>Create New User</h1>
                </div>

                <div class="form-fields">
                    <div class="user-top">
                        <input type="text" name="" placeholder="First Name" id="firstName-input" class="text-input" required>
                        <input type="text" name="" placeholder="Last Name" id="lastName-input" class="text-input" required>
                        <input type="password" name="" placeholder="Password" id="password" class="text-input" required>
                        <input type="password" name="" placeholder="Confirm Password" id="password-confirmation" class="text-input" required>
                        <input type="text" name="" placeholder="Email" id="email-input" class="text-input" required>
                        <!--
                        <select name="role" id="role-input" class="user-detail-input" required>
                            <option value="admin">Admin</option>
                            <option value="editor">Editor</option>
                            <option value="user">User</option>
                        </select>
                        -->
                        <input type="text" name="" placeholder="Username" id="username" class="text-input" required>
                    </div>
                    <div class="user-bottom">
                        <div class="main-picture">
                            <img src="/assets/upload-icon.png" name="userPicture" alt="" id="upload-icon" accept="image/*">
                            <input type="file" name="main-image" id="imageInput">
                        </div>
                        <button class="submit-user-button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        $(".add-user-modal").hide();
    </script>

</html>